<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
<div ng-app="mainApp" ng-controller="studentController">
    <p>Enter a first name: <input type="text" ng-model="student.firstname"></p>
    <p>Enter a last name: <input type="text" ng-model="student.lastname"></p>
    <h1>Hello {{student.fullname() | uppercase}}</h1>
</div>

<script>
    var mainApp = angular.module("mainApp", []);

    mainApp.controller('studentController', function ($scope) {
        $scope.student = {
            firstname: '',
            lastname: 'Skwarek',

            fullname: function () {
                var studentObject;
                studentObject = $scope.student;
                return studentObject.firstname + " " + studentObject.lastname;
            }
        };
    });
</script>
</body>
</html>