<p ng-show="error">
    Your username and password didn't match. Please try again.
</p>

<form name="loginForm" ng-submit="login()">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" id="username" name="username" ng-model="credentials.username"/>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="password" name="password" ng-model="credentials.password"/>
        </tr>
    </table>

    <button type="submit">Login</button>
</form>