<div class="post">
    <div class="date" ng-if="post.publishedDate">
        {{post.publishedDate | date:'dd-MM-yyyy HH:mm:ss'}}
    </div>
    <a class="btn btn-default" ng-click="publishPost()" ng-if="!post.publishedDate">Publish</a>


    <a class="btn btn-default" href="/post/{{post.id}}/edit" ng-show="authenticated"><span
            class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" ng-click="removePost(post.id)" ng-show="authenticated"><span
            class="glyphicon glyphicon-remove"></span></a>

    <h1>{{post.title}}</h1>
    <p>{{post.text}}</p>
</div>

<hr/>
<a class="btn btn-default" href="/post/{{post.id}}/comment">Add comment</a>

<p ng-show="post.comments.length == 0">
    No comments here yet :(
</p>


<div class="comment" ng-repeat="comment in post.comments" ng-show="authenticated">
    <div class="date">
        {{comment.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}
        <a class="btn btn-default" ng-if="!comment.approvedComment"
           ng-click="removeComment(comment.id)"><span
                class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" ng-if="!comment.approvedComment"
           ng-click="approveComment(comment.id)"><span
                class="glyphicon glyphicon-ok"></span></a>
    </div>
    <strong>{{comment.author}}</strong>
    <p>{{comment.text}}</p>
</div>

<div class="comment" ng-repeat="comment in post.comments" ng-if="comment.approvedComment" ng-show="!authenticated">
    <div class="date">
        {{comment.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}
    </div>
    <strong>{{comment.author}}</strong>
    <p>{{comment.text}}</p>
</div>