<div class="post">
    <div class="date" ng-if="post.publishedDate">
        {{post.publishedDate | date:'dd-MM-yyyy HH:mm:ss'}}
    </div>
    <div class="date" ng-if="!post.publishedDate">
        <a class="btn btn-default" ng-click="publishPost()">Publish</a>
    </div>


    <!--<security:authorize access="hasRole('ROLE_ADMIN')">-->
    <a class="btn btn-default" href="/post/{{post.id}}/edit"><span
            class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="/post/{{post.id}}/remove"><span
            class="glyphicon glyphicon-remove"></span></a>
    <!--</security:authorize>-->

    <h1>{{post.title}}</h1>
    <p>{{post.text}}</p>
</div>

<hr/>
<a class="btn btn-default" href="/post/{{post.id}}/comment">Add comment</a>

<p ng-show="post.comments.length == 0">
    No comments here yet :(
</p>


<!--<security:authorize access="hasRole('ROLE_ADMIN')">-->
<div class="comment" ng-repeat="comment in post.comments">
    <div class="date">
        {{comment.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}
        <a class="btn btn-default" ng-if="!comment.approvedComment"
           ng-click="removeComment(comment.id)"><span
                class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" ng-if="!comment.approvedComment"
           ng-click="approveComment(comment.id)"><span
                class="glyphicon glyphicon-ok"></span></a>
    </div>
    <strong>{{comment.author}}</strong>
    <p>{{comment.text}}</p>
</div>
<!--</security:authorize>-->

<!--<security:authorize access="!hasRole('ROLE_ADMIN')">-->
<div class="comment" ng-repeat="comment in post.comments" ng-if="comment.approvedComment">
    <div class="date">
        {{comment.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}
    </div>
    <strong>{{comment.author}}</strong>
    <p>{{comment.text}}</p>
</div>
<!--</security:authorize>-->