<h1>New post</h1>
<form class="post-form">
    <p>Title:</p>
    <p ng-show="post.title.$error.required">Please fill in this field.</p>
    <input type="text" ng-model="post.title" ng-required="true"/>

    <p>Text:</p>
    <p ng-show="post.text.$error.required">Please fill in this field.</p>
    <textarea rows="10" ng-model="post.text" ng-required="true"></textarea>

    <button type="submit" class="save btn btn-default" ng-click="addNewPost(post)">Save</button>
    <!--<button type="submit" class="save btn btn-default" ng-click="editPost(post)">Save</button>-->
</form>